.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# Misc
test-fixture/**
.github/**
.git/**
.DS_Store
Thumbs.db
regex_test.js
debug_regex.js
